header {
  border-bottom: $border;
  a {
    margin-right: 40px;
    text-decoration: none;
    text-transform: uppercase;
    
    background-image: none;
    &:hover {
      background-image: none;
    }
  }
}