

.posts {
  ul {
    margin-top: 0;
  }

  li {
    list-style: none;
    margin-bottom: 20px;
  }
}

@include for-desktop-only {
  .posts,
  .city-guides {
    h1 {
      border-right: $border;
    }
  }
}

@include for-phone-only {
  .posts {
    ul {
      padding-left: 0;
    }
  }
}