@import "variables";

html,
body {
  background: $background;
  font-family: $font-sans-serif;
  font-size: 18px;
  height: 100%;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

body #__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: $text-color;
}

@include for-phone-only {
  a {
    text-decoration-color: $red;
  }
}

@include for-desktop-only {
  a {
    text-decoration: none;
    position: relative;
    &:before, &:after {
      content: '';
      position: absolute;
      transition: transform .5s ease;
    }
    &:before {
      background: $text-color;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
    }
    
    &:after {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: $red;
      transform: scaleX(0);
    }
    
    &:hover:after {
      transform: scaleX(1);
    }
    &:focus {
      outline: 5px auto $red;
    }
  }
}

img {
  max-width: 100%;
  display: block;
}

header + * {
  flex: 1;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin-top: 0;
}

header,
footer,
main {
  padding: 20px;
}

b {
  font-weight: 800;
}

@import "header";
@import "footer";
@import "home";
@import "posts";


@include for-desktop-only {
  .two-column-grid {
    display: grid;
    grid-template-columns: 250px auto;

    // E.g. the post title
    > *:first-child {
      padding-right: 20px;
    }

    // E.g. the post itself
    > *:last-child {
      padding-left: 20px;
    }
  }
}

.img {
  margin: 20px 0;
  .alt {
    font-size: 14px;
  }
}