@import "styles/variables";

.post {
  @include for-desktop-only {
    h1 {
      border-right: $border;
    }
  }

  .byline {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .content {
    max-width: 800px;
  }
}